php/dbnxml/books/book.dtd

<!ELEMENT book (s1*|ANY)>
<!ATTLIST book id CDATA #REQUIRED>
<!ELEMENT s1 (s2*|ANY)>
<!ATTLIST s1 page CDATA #REQUIRED>
<!ATTLIST s1 title CDATA #REQUIRED>
<!ATTLIST s1 author CDATA #REQUIRED>
<!ELEMENT s2 (s3*|ANY)>
<!ATTLIST s2 page CDATA #REQUIRED>
<!ATTLIST s2 title CDATA #REQUIRED>
<!ATTLIST s2 author CDATA #REQUIRED>
<!ELEMENT s3 (s4*|ANY)>
<!ATTLIST s3 page CDATA #REQUIRED>
<!ATTLIST s3 title CDATA #REQUIRED>
<!ATTLIST s3 author CDATA #REQUIRED>
<!ELEMENT s4 (#PCDATA)>
